@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');
.Home {
    height: fit-content;
    overflow-x: hidden;
}


.overview {
    position: relative;
    top: 1em;
    padding: 20px 200px;
    display: flex;
    align-items: center;
    height: 100vh;
}

.overview img {
    border-radius: 50%;
    opacity: 0.6;
}

.overview-text {
    font-family: 'Square Peg', cursive;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overview-text h2 {
    font-size: 150px;
    color: var(--text-secondary);
}

.overview-text a {
    text-decoration: none;
    font-size: 2em;
    color: var(--text-primary);
}

.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-icon {
    transition: 0.3s ease;
}

.overview-text a:hover {
    font-size: 2.2em;
    color: var(--text-secondary);
}

.overview-text a:hover .btn-icon {
    transform: translateY(5px);
}

.products {
    height: fit-content;
    position: relative;
    top: 50px;
    padding: 100px 50px;
    display: grid;
    grid-template-columns: repeat(4, 300px);
    gap: 50px 100px;
    
}

.link {
    color: var(--text-primary);
    position: relative;
    left: 200px;
    font-size: 1.7em;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: 0.3s ease;
    transition-delay: .2s;
}

.link-icon{
    transition: 0.3s ease;
    transition-delay: .2s;
}

#products .link:hover .link-icon {
    transform: translateX(20px);
    color: var(--text-secondary);
}

.link:hover {
    color: var(--text-secondary);
}

.about {
    height: 100vh;
    position: relative;
    top: 50px;
    padding: 0 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.about h2, #testimonials h2 {
    color: var(--text-secondary);
    font-family:  'Square Peg', cursive;
    font-size: 3em;
}

.about p {
    font-size: 1.5em;
    color: var(--text-primary);
}

.about .socials {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.about .socials a {
    text-decoration: none;
    font-size: 1.5em;
    color: var(--text-secondary);
    margin-top: 70px;
}

#testimonials {
    height: fit-content;
    padding: 100px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0 100px;
    place-content: center;
}

.add-testimony {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
    width: 50%;
}

.add-testimony textarea {
    width: 50%;
    height: 70px;
    border-radius: 10px;
    color: var(--text-secondary);
    border: 1px solid var(--background-primary);
}

.add-testimony button {
    width: fit-content;
    padding: 0 20px;
    border-radius: 10px;
    font-size: 1.5em;
    font-weight: 700;
    color: var(--text-secondary);
    border: 1px solid var(--background-primary);
    font-family:  'Square Peg', cursive;
    transition: 0.3s ease;
    margin-top: 20px;
}

.add-testimony button:hover {
    background: var(--text-secondary);
    color: var(--text-primary)
}